*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    font-size: 25px;
}
.container{
    background-color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 2rem;
    min-height: 45vh;
    min-width: 40vw;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form{
    margin: 2rem 0 2rem 0;
}
#amount{
    border-radius: 1rem;
    border: 1px solid lightgray;
    font-size: 20px;
    min-height: 25px;
    padding: 3px 0px 3px 5px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    margin: 2rem;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 0px;
    min-height: 3rem;
    width: 30vw;
    border-radius: 2rem;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    background-color: blueviolet;
    color: antiquewhite;
    border: 2px solid black;
}
#exchange{
    position: relative;
    top: 0px;
    right: 0px;
}
#fc,#tc{
    display: flex;
    min-width: 30px;
    font-size: 18px;
    margin: 0px 12px;
    cursor: pointer;
}
.flag{
    width: 85px;
}